@using BikeStore.core.Domain.Notification
@{
  ViewData["Title"] = "Fork";
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@model BikeStore.Areas.Admin.ViewModel.AllForkVM;

<ul class="nav">
  <li class="nav-item">

    <a class="nav-link active" href="#">
      <i class="fas fa-list"></i>
      Zgłoszenia
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="User-Notification" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-default"
         aria-labelledby="User-Notification">
      <a class="dropdown-item" href="#">
        <i class="fas fa-list"></i>
        Zgłoszenia
      </a>
    </div>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-sm-12 col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Wybierz status
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="fork" asp-route-xStatus="@NotificationStatusEnum.AtWork">Realizowane</a>
            <a class="dropdown-item" asp-action="fork" asp-route-xStatus="@NotificationStatusEnum.Finish">Zakończone</a>
            <a class="dropdown-item" asp-action="fork" asp-route-xStatus="@NotificationStatusEnum.New">Nowe</a>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-md-6">
        <span>tEST</span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Opis</th>
            <th>Model</th>
            <th>Status</th>
            <th>Data utworzenia</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Opis</th>
            <th>Model</th>
            <th>Status</th>
            <th>Data utworzenia</th>
          </tr>
        </tfoot>
        <tbody>
          @foreach (var pItem in Model.Forks) {

            <tr role="row" class="odd">
              <td>@pItem.Dscr</td>
              <td>@pItem.ForksModel</td>
              <td>@pItem.NotificationStatus</td>
              <td>@pItem.CreateAt</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <span> Show: @Model.PagingInfo.ItemsPerPage for @Model.PagingInfo.TotalItems</span>

      </div>
      <div class="col-sm-12 col-md-6 ">
        <div page-model="@Model.PagingInfo" page-action="Fork" page-classes-enabled="true"
             page-class="btn " page-class-normal="btn-secondary"
             page-class-selected="btn-primary" class="btn-group pull-right m-1 float-right  ">
        </div>
      </div>
    </div>

  </div>
</div>
