@using BikeStore.core.Domain


<section class="checkout-step">
  <hr class="line">
  <h2 class=""> @Languages.GetText(TextEnum.ChooseYourPaymentMethod)</h2>
  <div class="content radio-buttons-container">
    <ul class="tiles indent-block">
      <li class="anything-selected">
        <label class="PayType" id="PaymentMethod" for="PaymentMethod">
          <input name="PaymentMethod" type="radio" value="@PaymentMethodEenum.CashOnDelivery" />
          <span class="text-center"><i class="fas fa-hand-holding-usd fa-5x"></i> </span>
          <div class="title">@Languages.GetText(TextEnum.CashOnDelivery)</div>
          @*<div class="delivery-payment-cost">+ 5,00 zł</div>
            <span class="border"></span>
            <span class="marker"><i class="fontello icon-ok"></i></span>*@
        </label>

      </li>
      <li class="anything-selected">
        <label class="PayType">
          <input name="PaymentMethod" type="radio" value="@PaymentMethodEenum.Transfer" />
          <span class="text-center"> <i class="fas fa-file-invoice-dollar fa-5x"></i></span>
          <div class="title">@Languages.GetText(TextEnum.BankTransver)</div>
          @*<div class="delivery-payment-cost">+ 5,00 zł</div>
            <span class="border"></span>
            <span class="marker"><i class="fontello icon-ok"></i></span>*@
        </label>

      </li>

      <li class="anything-selected">
        <label class="PayType">
          <input name="PaymentMethod" type="radio" value="@PaymentMethodEenum.PayU" />
          <span class="text-center"> <i class="fas fa-amazon-pay fa-5x"></i></span>
          <div class="title">@Languages.GetText(TextEnum.PayU)</div>
          @*<div class="delivery-payment-cost">+ 5,00 zł</div>
    <span class="border"></span>
    <span class="marker"><i class="fontello icon-ok"></i></span>*@
        </label>

      </li>
    </ul>
    
  </div>



</section>

