@model BikeStore.ViewModels.ProductsListVM

@{
  ViewData["Title"] = "ListProduct";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ListProduct</h2>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        Product
      </th>
      <th>
        Cena
      </th>
      <th>
        Kategoria
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Products)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Descryption)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
       page-class="btn" page-class-normal="btn-secondary"
       page-class-selected="btn-primary" class="btn-group pull-right m-1">
  </div>